{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Password Reset Form{% endblock title %}

{% block content %}

    <div class="card-header p-3">
        <h2 class="text-center text-success">Password reset</h2>
        <p class="m-0 p-4 pb-0 fs-5">
            Forgotten your password? Enter your email address below,
            and we’ll email instructions for setting a new one.
        </p>
        <form action="" method="post" class="p-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-danger fs-5" type="submit">Reset my password</button>
        </form>
    </div>

{% endblock content %}