{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Password Change Done{% endblock title %}

{% block content %}

    <div class="card-header p-3">
        <h2 class="text-center text-success">Password change successful</h2>
        <p class="text-center fs-4">Your password was changed.</p>
        <div class="text-center">
            <a class="btn btn-outline-primary m-2 fs-5" href="{% url 'login' %}">Log In</a>
        </div>
    </div>

{% endblock content %}