{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block content %}

    <div class="card-header p-3">
        <h2 class="text-center text-success">Enter new password</h2>
        <form action="" method="post" class="p-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-danger fs-5" type="submit">Change my password</button>
        </form>
    </div>

{% endblock content %}