{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}

    <div class="card-header p-3">
        {% if user.is_authenticated %}
            <p class="text-center fs-3 text-success">Hi {{ user.username }}</p>
            <div class="text-center mb-2">
                <a class="btn btn-outline-danger mx-2 fs-5" href="{% url 'password_change' %}">Change Password</a>
                <a class="btn btn-outline-secondary mx-2 fs-5" href="{% url 'password_reset' %}">Password reset</a>
                <a class="btn btn-outline-warning mx-2 fs-5" href="{% url 'logout' %}">Log Out</a>
            </div>
        {% else %}
            <p class="text-center fs-4">You are not logged in</p>
            <div class="text-center">
                <a class="btn btn-outline-primary m-2 fs-5" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-outline-warning m-2 fs-5" href="{% url 'signup' %}">Sign Up</a>
            </div>
        {% endif %}
    </div>

{% endblock content %}